html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #050543;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}